<section class="property-binding">
  <!-- <article>
    <h3>Interpolation - Interpolação</h3>

    <p>String rederizada com interpolação: {{ url }}</p>

    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>

    <p>O Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>

    <p>Curso de Angular e curtir curso: {{ getCurtirCurso() && cursoAngular }}</p>

    <img src="{{ urlImageOne }}" />

    <p>Property Binding</p>
    <img [src]="urlImageTwo" />

    <p>Mesma coisa que:</p>
    <img bind-src="urlImageTwo" />
  </article> -->

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>
<!--
    <div class="alert alert-success" role="alert">...</div>
    <div class="alert alert-info" role="alert">...</div>
    <div class="alert alert-warning" role="alert">...</div>
    <div class="alert alert-danger" role="alert">...</div> -->

    <!-- Property Binding com Interpolation -->
    <div class="alert {{ classe.value }}" role="alert">
      Texto colorido conforme valor do combobox.
    </div>

    <!-- Property Binding com estilo de classe -->
    <div class="alert alert-danger" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto somente aparece em caso de erro.
    </div>


    <!-- Property Binding com classe -->
    <!-- <div class="alert" role="alert"
      [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>

    <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'">Info</div>

    <div class="alert" role="alert"
      [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>

    <div class="alert" role="alert"
      [class.alert-danger]="classe.value == 'alert-danger'">Erro</div> -->

    </div>
  </article>

</section>
